<xf:title>{{ phrase('wgh_i18n_43cd5e94') }}</xf:title>
<xf:macro template="wgh_macros" name="nav" arg-selected="users" />
<xf:pageaction><xf:button href="{{ link('github-sync/user-mapping-edit') }}" icon="add">{{ phrase('wgh_i18n_433900ed') }}</xf:button></xf:pageaction>
<div class="block"><div class="block-container"><div class="block-body">
<table class="dataList"><thead><tr class="dataList-row"><th class="dataList-cell">{{ phrase('wgh_i18n_7a47da73') }}</th><th class="dataList-cell">{{ phrase('wgh_i18n_1e581f24') }}</th><th class="dataList-cell">{{ phrase('wgh_ui_scope') }}</th><th class="dataList-cell">{{ phrase('wgh_i18n_005ef20f') }}</th><th class="dataList-cell"></th></tr></thead><tbody>
<xf:foreach loop="$userMappings" value="$item"><tr class="dataList-row">
<td class="dataList-cell"><a href="{{ link('github-sync/user-mapping-edit', null, {'user_mapping_id': $item.user_mapping_id}) }}">{$item.github_login}</a></td>
<td class="dataList-cell">{$item.xf_user_id}</td>
<td class="dataList-cell"><xf:if is="$item.repository_id">{$repositories.{$item.repository_id}}<xf:elseif is="$item.connection_id" />{{ phrase('wgh_ui_connection_number', {'id': $item.connection_id}) }}<xf:else />{{ phrase('wgh_ui_global') }}</xf:if></td>
<td class="dataList-cell">{{ $item.active ? phrase('wgh_i18n_9c86e43e') : phrase('wgh_i18n_bfce9925') }}</td>
<td class="dataList-cell dataList-cell--action"><a href="{{ link('github-sync/user-mapping-delete', null, {'user_mapping_id': $item.user_mapping_id}) }}">{{ phrase('wgh_i18n_5797ea6a') }}</a></td>
</tr></xf:foreach>
</tbody></table>
</div></div></div>