<xf:title>GitHub user mappings</xf:title>
<xf:macro template="wgh_macros" name="nav" arg-selected="users" />
<xf:pageaction><xf:button href="{{ link('github-sync/user-mapping-edit') }}" icon="add">Add user mapping</xf:button></xf:pageaction>
<div class="block"><div class="block-container"><div class="block-body">
<table class="dataList"><thead><tr class="dataList-row"><th class="dataList-cell">GitHub login</th><th class="dataList-cell">XenForo user ID</th><th class="dataList-cell">Scope</th><th class="dataList-cell">Status</th><th class="dataList-cell"></th></tr></thead><tbody>
<xf:foreach loop="$userMappings" value="$item"><tr class="dataList-row">
<td class="dataList-cell"><a href="{{ link('github-sync/user-mapping-edit', null, {'user_mapping_id': $item.user_mapping_id}) }}">{$item.github_login}</a></td>
<td class="dataList-cell">{$item.xf_user_id}</td>
<td class="dataList-cell"><xf:if is="$item.repository_id">{$repositories.{$item.repository_id}}<xf:elseif is="$item.connection_id" />Connection #{$item.connection_id}<xf:else />Global</xf:if></td>
<td class="dataList-cell">{{ $item.active ? 'Enabled' : 'Disabled' }}</td>
<td class="dataList-cell dataList-cell--action"><a href="{{ link('github-sync/user-mapping-delete', null, {'user_mapping_id': $item.user_mapping_id}) }}">Delete</a></td>
</tr></xf:foreach>
</tbody></table>
</div></div></div>